<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    </php>
    <testsuites>
        <testsuite name="SeAT Web Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>