<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <coverage includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml" />
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Access Control Layer Test Suite">
            <directory suffix="Test.php">./tests/Acl/</directory>
        </testsuite>
        <testsuite name="Squads Test Suite">
            <directory suffix="Test.php">./tests/Squads/</directory>
        </testsuite>
    </testsuites>

</phpunit>
