img.eve-icon.small-icon {
    margin-top: -3px;
    width: 16px;
    height: 16px;
}

img.eve-icon.medium-icon {
    margin-top: -3px;
    width: 32px;
    height: 32px;
}

img.eve-icon.large-icon {
    margin-top: -3px;
    width: 64px;
    height: 64px;
}

img.eve-icon.xlarge-icon {
    margin-top: -3px;
    width: 128px;
    height: 128px;
}

img.eve-icon.xxlarge-icon {
    margin-top: -3px;
    width: 256px;
    height: 256px;
}

.modal-body img {
    max-width: 100%;
}

/*
 * Profile Drop Down
 */

ul.dropdown-menu {
    padding: 0;
}

ul.dropdown-menu > li.user-character:first-child {
    border-top: solid 1px #eee;
}

ul.dropdown-menu > li.user-character {
    margin-top: 0;
    border-bottom: 1px solid #eee;
}

.skin-blue ul.dropdown-menu > li.user-character.active a {
    background-color: #3c8dbc;
}

.skin-black ul.dropdown-menu > li.user-character.active a {
    background-color: #6a6a6a;
}

.skin-green ul.dropdown-menu > li.user-character.active a {
    background-color: #00a65a;
}

.skin-purple ul.dropdown-menu > li.user-character.active a {
    background-color: #605ca8;
}

.skin-red ul.dropdown-menu > li.user-character.active a {
    background-color: #dd4b39;
}

.skin-yellow ul.dropdown-menu > li.user-character.active a {
    background-color: #f39c12;
}

li.dropdown.user.user-menu > a.dropdown-toggle i.fa-caret-left {
    transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -o-transition: ease 0.2s;
}

ul.dropdown-menu > li.user-character a .media-left {
    vertical-align: middle;
}

ul.dropdown-menu > li.user-character a h4.media-heading {
    margin-bottom: 1px;
}

ul.dropdown-menu li.user-character.new-character {
    border-bottom: 1px solid #f4f4f4;
}

ul.dropdown-menu li.user-character.new-character a h3 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.border-0 {
    border: none;
}

.margin-0 {
    margin: 0;
}

.bg-none {
    background: none;
}

/*
 * Datatables
 */
table.dataTable tr.dtrg-group td {
    background-color: #f8f9fa;
}

table.dataTable tr.dtrg-group + tr.shown {
    background-color: #d4d4d4;
}

table.dataTable tr.shown + tr {
    background-color: #e5e5e5;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    font-weight: bold;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td {
    background-color: #6c757d;
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #6c757d;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td,
table.dataTable tr.dtrg-group.dtrg-level-2 td {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: 0.9em;
}

.bg-gradient-primary a {
    color: #000;
}

.bg-gradient-primary a:hover {
    color: #fff;
}

/*
 * Select2
 */

.select2-selection.select2-selection--multiple {
    height: 100%;
}

/* 
 * SeAT Font!
 */

@font-face {
    font-family: Poppins-Regular;
    src: url('/web/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/web/fonts/Poppins-Regular.woff') format('woff');
}

.seat-font {
    font-family: 'Poppins-Regular', Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif !important;
}